//- extends layout to your side
extends layout/layout

block var
	- title = "Post detail page";
block content
	// Start news-section
	mixin post-item(icon, title, imgUrl= false)
		article.grid-x.grid-padding-x.post-block&attributes(attributes)
			.cell.medium-2
				.post-date
					time(datetime="2014-05-12") #[span.post-day 12] May 2014 
				.post-category: i.fa(class=icon)
			.cell.medium-10
				.media-wrapper
					each imgUrl in ["post/01.jpg", "post/02.jpg"]
						img(src=$imgBaseUrl + imgUrl, alt="")
				h1.post-title!= title
				.post-meta Posted by #[a(href="#") Kim Nilson]
				.seperator
				if (block)
					block
	.grid-container.content-wrapper
		.grid-x.grid-padding-x
			.cell.large-8
				+post-item("fa-picture-o", "PROIN GRAVIDA NIBH VEL VELIT AUCTOR")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, dolorum, fugiat, eligendi magni quibusdam iure cupiditate ex voluptas unde voluptatibus quos expedita autem qui vitae corrupti exercitationem facilis nihil atque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, dolorum, fugiat, eligendi magni quibusdam iure cupiditate ex voluptas unde voluptatibus quos expedita autem qui vitae corrupti exercitationem
					blockquote Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra
					img(src=$imgBaseUrl + "post/03.jpg", alt="")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, dolorum, fugiat, eligendi magni quibusdam iure cupiditate ex voluptas unde voluptatibus quos expedita autem qui vitae corrupti exercitationem facilis nihil atque!
					h2 LOREM IPSUM COMES FROM SECTION
					ul
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit. #[a(href="#") Inventore], dolorum, fugiat, eligendi magni quibusdam
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit. 

			aside.cell.large-4.sidebar
				.widget-wrapper
					h3 Text Widget
					p Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec