/*-----------------------------------------
 4. ALIGN 
------------------------------------------*/
/* 
 * $direction: both | vertical | horizontal;
 * @include center-position($direction: both, $width: false, $height: false);
 */
    @mixin center-position($direction: both, $width: false, $height: false) {
        position: absolute;
        @if ($direction == horizontal){
            left: 50%;
            @if ($width) {
                margin-left: - ($width / 2);
            }@else{
                transform: translateX(-50%);
            }
        }
        @else if ($direction == vertical){
            top: 50%;
            @if ($height) {
                margin-left: - ($width / 2);
            }@else{
                transform: translateY(-50%);
            }
        }
        @else if ($direction == both){
            top: 50%; left: 50%;
            @if ($width and $height) {
                margin-left: - ($width / 2);
                margin-top: - ($height / 2);
            }@else{
                transform: translate(-50%, -50%);
            }
        }
    }

/* CENTER
 * @extend %center-multiLines;
 * @include %center-singleLine;
 * @extend %center-table;
 * @extend %center-flex;
 */
    %center-multiLines{
        display: block;
        margin-left: auto; margin-right: auto;
    }
    %center-inlineBlock{
        &:after{
            content: "";
            display: inline-block; vertical-align: middle;
            height: 100%;
        }
        %block {
            display: inline-block;
            vertical-align: middle;
        }
    }
        
    @mixin center-singleLine($height: 100px, $border-width: 0px){
        text-align: center;
        height: $height; line-height: $height - ($border-width * 2); // equal to the height
        white-space: nowrap;
    }
    %center-table{
        %container{
            display: table; table-layout: fixed;
            border-collapse: collapse;
        }
        %centered-vertical{
            display:table-cell;
            vertical-align: middle;
        }
        %centered-horizontal{
            $fixed-width: 80%;
            width: $fixed-width;
            margin-left: auto; margin-right: auto;
        }
    }
    %center-flex{
        display: flex;
        align-items: center; // veritcal
        justify-content: center; // horizontal
        %block{
            flex: 1;
            width: 0;
        }
    }


/* EQUALHEIGHT
 * @include %equalHeigh-position;
 * @include %equalHeigh-padding;
 * @include %equalHeigh-table;
 * @include %equalHeigh-flex;
 */
    $bg-block: #eee;
    %equalHeight-position{
        .row{ position: relative; }
        [class*="col-"]{ position: static; }
        %block-inner{
            content: "";
            display: block;
            position: absolute; top: 0; bottom: 0;
            width: 360px; 
            background: $bg-block;
            z-index: -1;
        }
    }
    %equalHeight-padding{
        .row{ overflow: hidden; }
        %block-inner{
            margin-bottom: -99999px;
            padding-bottom: 99999px;
            background: $bg-block;
        }
    }
    %equalHeight-table{
        .row{ 
            display: table; table-layout: fixed;
            border-spacing: 30px 0px;
            margin-left: -30px; margin-right: -30px;
            &:before, &:after{ content: none; }
        }
        [class*="col-"]{ 
            float: none;
            display: table-cell; 
            background: $bg-block;
        }
    }
    // works well for multiple rows
    %equalHeight-flex{
        .row{
            display: flex;
            flex-wrap: wrap;
        }
        %block-inner{
            height: 100%;
            background: $bg-block;
        }
    }