@function calc-rem($target-px) {
  @return ($target-px / 16px) * 1rem;
}

// @include calc( width, '100% - 2px');
@mixin calc($prop, $val) {
    @each $pre in -webkit-, -moz-, -o-, "" {
        #{$prop}: $pre + calc(#{$val});
    } 
}

// @include vendor-prefix(hyphens, auto);
@mixin vendor-prefix($name, $value...) {
  @each $prefix in -webkit-, -moz-, -o-, "" {
    #{$prefix}#{$name}: $value;
  }
}
/*-----------------------------------------
 6. MEDIA RESPONSIVE
------------------------------------------*/
/* 
 * @variable for media
 * @Ex: @include media(md){ padding: 30px 0 60px; };
 */
$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

// MOBILE FIRST
 @mixin media($point) {
   @if $point == lg {
     @media (min-width: $breakpoint-lg) { @content ; }
  }
    @else if $point == md {
     @media (min-width: $breakpoint-md) { @content ; }
  }
   @else if $point == sm {
     @media (min-width: $breakpoint-sm)  { @content ; }
  }
  @else if $point == xs {
     @media (min-width: $breakpoint-xs)  { @content ; }

  }
}
 @mixin media-only($point) {
   @if $point == lg {
     @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1px) { @content ; }
  }
    @else if $point == md {
     @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1px) { @content ; }
  }
   @else if $point == sm {
     @media (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm - 1px)  { @content ; }
  }
}
@mixin media-destop-first($point) {
   @if $point == lg {
     @media (max-width: $breakpoint-lg - 1px) { @content ; }
  }
    @else if $point == md {
     @media (max-width: $breakpoint-md - 1px) { @content ; }
  }
   @else if $point == sm {
     @media (max-width: $breakpoint-sm - 1px) { @content ; }
  }
  @else if $point == xs {
     @media (max-width: $breakpoint-xs - 1px) { @content ; }
  }
}
@mixin media-retina{
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 991px),
  only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 991px),
  only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 991px),
  only screen and (        min-device-pixel-ratio: 2)      and (max-width: 991px),
  only screen and (                min-resolution: 192dpi) and (max-width: 991px),
  only screen and (                min-resolution: 2dppx)  and (max-width: 991px) {
    @content ;
  }
}

// unquote($str);
@function str-split($string, $separator) {
    // empty array/list
    $split-arr: ();
    // first index of separator in string
    $index : str-index($string, $separator);
    // loop through string
    @while $index != null {
        // get the substring from the first character to the separator
        $item: str-slice($string, 1, $index - 1);
        // push item to array
        $split-arr: append($split-arr, $item);
        // remove item and separator from string
        $string: str-slice($string, $index + 1);
        // find new index of separator
        $index : str-index($string, $separator);
    }
    // add the remaining string to list (the last item)
    $split-arr: append($split-arr, $string);

    @return $split-arr;
}