/*-----------------------------------------
 5. LAYOUT
------------------------------------------*/
%sr-only{
    position: absolute;
    width: 1px; height: 1px;
    padding: 0; margin: -1px; border: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
}
%clearfix{
    &:after {
		content: "";
        display: block;
        clear: both;
    }
}
%custom-grid{
    .four-columns{
        width: 25%;
        float: left;
		&:nth-of-type(4n+1) {
		  @extend %clearfix;
        }
        // Only the first 4 elements
        &:nth-child(-n+4){}
        // item 4 and onwards
        &:nth-child(n+4){}
    }
    &:first-of-type{}
    &:not(.different){}
    &:not(:first-of-type){}
    &:nth-of-type(2n){}
    &:nth-of-type(odd){}
    &::first-letter{}
}
// custom grid with 12 columns
@mixin custom-grid($total, $gutter){
    .row {
        margin-left: -$gutter;
        @extend %clearfix;
    }
    [class^="cols-"], [class*=" cols-"] {
        float: left;
        padding-left: $gutter;
        min-height: 1px;
        box-sizing: border-box;
    }
    @for $i from 1 through 12 {
        .cols-#{$i} {
            width: ((100 / 12) * $i) * 1%;
        }
    }
}

%bootstrap-gutter15{
    .row{ 
        margin-left: -7.5px; margin-right: -7.5px;  margin-bottom: -15px;
        [class*="col-"]{ padding-left: 7.5px; padding-right: 7.5px; margin-bottom: 15px;}
    }
}
/*-----------------------------------------
 3. IMAGE
------------------------------------------*/
/* make images/ background images maintain a ratio
 * @include responsive-ratio(16,9);
 * @include responsive-ratio(3,4);
 */
@mixin responsive-ratio($x, $y, $pseudo: false) {
	$padding: unquote( ( $y / $x ) * 100 + '%' );
	position: relative;
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
		padding-top: $padding;
		height: 0;
    }
    iframe {
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
    }
}



/* Background
 * @include bg($type: gradient, $val: linear-gradient(to bottom,  rgba(0,0,0,0.09) 0%,rgba(0,0,0,0.97) 99%,rgba(0,0,0,0.97) 100%));
 * @include bg($type: bgColor, $val: rgba(0,0,0,0.7));
 * @include bg($type: image, $val: "/common/pattern-bg.png");
 * @include bg($type: bgfullWidth, $val: rgba(0,0,0,0.7));
 * @include bg($type: pattern, $val: "/common/pattern-bg.png");
 */
@mixin bg($type: bgColor, $val: rgba(0,0,0,0.7)){
    @if $type == gradient{
        background: if($val, $val, linear-gradient(to bottom,  rgba(0,0,0,0.09) 0%,rgba(0,0,0,0.97) 99%,rgba(0,0,0,0.97) 100%));
    }@else if $type == pattern{
        background:  url($image + $val) repeat;
    }@else if $type == image{
        background-image:url($image + $val);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }@else if $type == bgColor{
        background-color: if($val, $val, rgba(0,0,0,0.7)); 
    }@else if $type == bgfullWidth{
        position: relative;
        &:after{
            content: "";
            display: block;
            position: absolute; top: 0; bottom: 0; left: -100%; right: -100%; z-index: -1;
            background-color: if($val, $val, rgba(0,0,0,0.7));
        }
    }
}



/* Background
 * @include pseudo-overlay($type-bg: bgColor, $val-bg: rgba(0,0,0,0.2));
 */
@mixin pseudo-overlay($type-bg, $val-bg, $animation:false){
    position: relative;
    &:before{
        content: "";
        position: absolute; top: 0; left: 0; 
        width: 100%; height: 100%;
        @include bg($type-bg, $val-bg);
        @content;
    }
    @if($animation){
        @extend %#{$animation};
    }
}
/*-----------------------------------------
effect bottomToTop
------------------------------------------*/
%effect-bottomToTop{
    .overlay-container{
        position: absolute; top: 100%; left: 0px; right: 0px;
        @extend %default-transition;
        margin-top: -30px;
        transform: translateY(-50px);
        [data-animation]{ opacity: 0; visibility: hidden; }
    }
    &:hover{
        &:before{ box-shadow: inset 0px 0px 0px 3px $orange; }
        .overlay-container{
           transform: translateY(-100%);
        }
        [data-animation]{ opacity: 1; visibility: visible; }
    }
}
.overlay--gradient{
    @include pseudo-overlay($type-bg: gradient, $val-bg: false);
    .overlay-container{
        text-align: center;
        color: $white;
        padding: 0px 15px;
    }
    @extend %effect-bottomToTop;
}
.overlay--pattern{
    @include pseudo-overlay($type-bg: pattern, $val-bg: "/common/pattern-bg.png");
    .container{ 
        position: relative; z-index: 9; 
        color: $white; 
        .title__wrapper{ 
            color: $white; 
            .title__main:after{ background-image: url(#{$image}/common/haeding_bar-white.png); }
        }
    }
}
/*-----------------------------------------
 3. article
------------------------------------------*/
.article--imgRight{
    .thumbnail-wrapper{
        position: relative;
        padding-bottom: 90px;
        img{
            width: 70%;
            border: 10px solid $white;
            float: right;
            &:first-child{
                position: absolute; bottom: 0; left: 0;
                z-index: 2;
            }
        }
        
    }
    h3{ margin-bottom: 30px; }
    p{ 
        margin-bottom: 20px; 
        &::last-child{ margin-bottom: 0; }
    }
    .button{ margin-top: 24px; }
}
.article--imgLeft{
    overflow-x: hidden;
    .thumbnail-wrapper{
        margin: 40px 0 15px;
        box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.24);
    }
    .content-wrapper{
        position: relative;
        padding: 30px 0;
        &:before{
            content: "";
            position: absolute; top: 0; bottom: 0; left: -90px; right: -100%;
            z-index: -1;
            background-color: #f1f2f4;
        }
    }
    @include media(sm){
        .thumbnail-wrapper{  margin: 145px 0 10px; }
    } 
}

.list{
    &--iconLeft{
        i{
        position: absolute; left: 0; top:0;
        }
        li{
            position: relative;
            padding-left: 45px;
        }
    }
    &--imgLeft{
        .thumbnail-wrapper{
            float: left;
            width: 100px;
            margin-left: 10px;
        }
        .content-wrapper{
            overflow: hidden;
        }
    }
}
/*-----------------------------------------
 4. ALIGN 
------------------------------------------*/
/* 
 * $direction: both | vertical | horizontal;
 * @include center-position($direction: both, $width: false, $height: false);
 */
    @mixin center-position($direction: both, $width: false, $height: false) {
        position: absolute;
        @if ($direction == horizontal){
            left: 50%;
            @if ($width) {
                margin-left: - ($width / 2);
            }@else{
                transform: translateX(-50%);
            }
        }
        @else if ($direction == vertical){
            top: 50%;
            @if ($height) {
                margin-left: - ($width / 2);
            }@else{
                transform: translateY(-50%);
            }
        }
        @else if ($direction == both){
            top: 50%; left: 50%;
            @if ($width and $height) {
                margin-left: - ($width / 2);
                margin-top: - ($height / 2);
            }@else{
                transform: translate(-50%, -50%);
            }
        }
    }

/* CENTER
 * @extend %center-multiLines;
 * @include %center-singleLine;
 * @extend %center-table;
 * @extend %center-flex;
 */
    %center-multiLines{
        display: block;
        margin-left: auto; margin-right: auto;
    }
    %center-inlineBlock{
        &:after{
            content: "";
            display: inline-block; vertical-align: middle;
            height: 100%;
        }
        %block {
            display: inline-block;
            vertical-align: middle;
        }
    }
        
    @mixin center-singleLine($height: 100px, $border-width: 0px){
        text-align: center;
        height: $height; line-height: $height - ($border-width * 2); // equal to the height
        white-space: nowrap;
    }
    %center-table{
        %container{
            display: table; table-layout: fixed;
            border-collapse: collapse;
        }
        %centered-vertical{
            display:table-cell;
            vertical-align: middle;
        }
        %centered-horizontal{
            $fixed-width: 80%;
            width: $fixed-width;
            margin-left: auto; margin-right: auto;
        }
    }
    %center-flex{
        display: flex;
        align-items: center; // veritcal
        justify-content: center; // horizontal
        %block{
            flex: 1;
            width: 0;
        }
    }


/* EQUALHEIGHT
 * @include %equalHeigh-position;
 * @include %equalHeigh-padding;
 * @include %equalHeigh-table;
 * @include %equalHeigh-flex;
 */
    $bg-block: #eee;
    %equalHeight-position{
        .row{ position: relative; }
        [class*="col-"]{ position: static; }
        %block-inner{
            content: "";
            display: block;
            position: absolute; top: 0; bottom: 0;
            width: 360px; 
            background: $bg-block;
            z-index: -1;
        }
    }
    %equalHeight-padding{
        .row{ overflow: hidden; }
        %block-inner{
            margin-bottom: -99999px;
            padding-bottom: 99999px;
            background: $bg-block;
        }
    }
    %equalHeight-table{
        .row{ 
            display: table; table-layout: fixed;
            border-spacing: 30px 0px;
            margin-left: -30px; margin-right: -30px;
            &:before, &:after{ content: none; }
        }
        [class*="col-"]{ 
            float: none;
            display: table-cell; 
            background: $bg-block;
        }
    }
    // works well for multiple rows
    %equalHeight-flex{
        .row{
            display: flex;
            flex-wrap: wrap;
        }
        %block-inner{
            height: 100%;
            background: $bg-block;
        }
    }