/*-----------------------------------------
 TABLE OF CONTENT
 1. hero-section
 2. overview-section
 3. feature-section
 4. product-section
 5. discount-section
------------------------------------------*/


/*-----------------------------------------
 1. hero-section
------------------------------------------*/

.team-item{
    @extend %default-transition;
    position: relative;
    text-align: center;
    padding: 20px;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $color-highlight;
        opacity: 0;
    }
    .thumbnail-wrapper{
        position: relative;
        width: 240px; height: 240px;
        border-radius: 100%;
        display: table;
        margin: auto;
        overflow: hidden;
    }
    h4{
        margin-top: 20px;
        text-transform: uppercase;
        color: $dark-grey;
        font-size: 1.625rem;
    }
    h5{
        font-size: 1rem;
        font-weight: normal;
        &:after{
            content: "";
            display: block; margin: 15px auto;
            width: 20px;
            height: 4px;
            background-color: $grey;
        }
    }
    .social-icons a{
        color: #b3b3b3;
        font-size: 1.125em;
        line-height: 22px;
        width: 24px; height: 24px;
        margin: 0 10px;
        display: inline-block;
        &:hover{
            @extend %color-hightlight;
        }
    }
    &:hover{
        cursor: pointer;
        background-color: $color-light;
        &:before{ opacity: 1; }
        h5:after{ background-color: $color-highlight;}
    }
}

/*-----------------------------------------
 1. hero-section
------------------------------------------*/
.service-section{
    .block--icon{
        text-align: center;
        .icon-hexagon{
            background-color: transparent;
            margin: 30px auto 50px auto;
            i{ color: #0d0d0d; }
        }
    }
}

.divider{
    margin: 15px auto;
    height: 4px; width: 50px;
    background-color: $color-highlight;
}
.section-padding{
    padding-top: 80px;
    padding-bottom: 80px;
}
.testimonial__item{
    text-align: center;
    color: $white;
    blockquote{
        
        font-size: 1.375rem;
        font-style: italic;
        margin: 0 auto 45px;
        max-width: 850px;
        border-left: 0;
        p{color: $white;}
    }
    .thumbnail-wrapper{
        border-radius: 100%;
        overflow: hidden;
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }    
}

/*-----------------------------------------
 1. hero-section
------------------------------------------*/
.filter-wrapper{
    text-align: center;
    margin-bottom: 60px;
    button{
        border: 2px solid transparent;
        color: #0d0d0d;
        display: inline-block;
        font-weight: 700;
        font-size: 0.875rem;
        text-transform: uppercase;
        margin: 0 5px;
        padding: 5px 10px;
        cursor: pointer;
        &:hover{
            @extend %color-hightlight;
        }
    }
    .mixitup-control-active{
        @extend %border-hightlight;
        @extend %color-hightlight;
    }
    select{ text-transform: uppercase}
}
@function mixitup-grid-item-width($columns, $gutter) {
    @return calc(#{100% / $columns} - #{($gutter * ($columns - 1)) / $columns});
}
// .mix,
// .gap {
//     width: grid-item-width(2, 1rem); // calc(50% - 0.5rem)
// }
#gallery-grid.large-up-4{
        margin-left: -0.3125rem;
        margin-right: -0.3125rem;
    > .cell{
        padding: 0.3125rem;
    }

}

.gallery-item{
    background-color: $black;
    img{ width:100%; opacity: .5; }
    position: relative;
    overflow: hidden;
 
    // @include pseudo-overlay($type-bg: bgColor, $val-bg: rgba(0,0,0,0.5));
    .overlay, .content-wrapper{
        position: absolute; left: 0; z-index: 1;
        width: 100%;
        @extend %default-transition;
    }
    .overlay{
        top: -50%;
        opacity: 0;
        margin-top: -10px;
        text-align: center;
    }
    .content-wrapper{
        bottom: 0; 
        color: $white;
        background-color: rgba(0,0,0,.5);
        transform: translateY(3.75rem);
        padding: 15px;
        p{ margin-bottom: 0; }
    }
    h5{
        font-size: 1em;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 20px;
        margin-bottom: 5px;
    }
    &:hover{
        .content-wrapper{
            transform: translateY(0);
            @extend %bg-hightlight;
        }
        .overlay{
            opacity: 1;
            top: 25%;
        }
    }
}

/*-----------------------------------------
 1. hero-section
------------------------------------------*/
.post-item{
    margin-bottom: 60px;
    
    .post-meta{
        list-style: none;
        margin: 0 0 15px;
        font-size: 0.8125em;
        line-height: 24px;
        
        .fa{
            margin-right: 15px;
            color: $white;
            font-size: 1.5em;
            text-align: center;
            line-height: 42px;
            width: 45px; height: 45px;
            @extend %bg-hightlight;
        }
    }
    h4{
        color: #0d0d0d;
        font-size: 1.375rem;
        text-transform: uppercase;
        margin-top: 0;
    }
    @include media-destop-first(sm){ 
        .post-meta{
            li{ display: inline-block; }
        }
    };
    @include breakpoint(medium) {
        .post-inner{
            position: relative; 
            margin-top: -60px;
        }
        .post-meta{
            float: left;
            width: 110px;
            text-align: right;
            .fa{
                margin: 15px 0 10px;
            }
        }
        .post-details{
            background-color: $white;
            margin-left: 110px;
            padding: 20px 20px 0 20px;
        }
    }
}
.title-content{
    color: #0d0d0d;
    font-size: 1.375rem;
    text-transform: uppercase;
    margin-top: 0;
}
@include media-destop-first(sm){ 
    .upcoming-event-section .icon-wrapper{ margin-left: auto; margin-right: auto;}
}
.event-item{
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    img{ width: 100%; }
    .content-wrapper{
        background-color: $white;
        padding: 20px;
    }
    
    h4{
        @extend .title-content;
    }
    .event-meta{
        margin-left: 0;
        list-style: none;
        .fa{ display: inline-block; width: 20px; }
    }
}



.contact-list{
    margin-left: 0;
    list-style: none;
    li{
        position: relative;
        padding-left: 50px;
        line-height: 40px;
        color: #0d0d0d;
        font-weight: 600;
        margin: 5px 0;
        &:before {
            position: absolute;
            left: 0px; top: 0px;
            width: 36px; height: 36px; line-height: 33px;
            border-radius: 100%;
            border: 2px solid $color-highlight;
            font-family: 'FontAwesome';
            font-size: 1.125rem;
            speak: none;
            text-align: center;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}

.countdown{
    &-block{
        text-align: center;
    }
    &-number{
    	font-size: 2.8125em;
        font-weight: 700;
        line-height: 170px;
        display: block;
        margin: 20px auto;
        width: 170px;
        height: 170px;
        border:2px solid $color-highlight;
        border-radius: 100%;
    }
    &-name{
        font-size: 1.5625rem;
        font-weight: 700;
        text-transform: capitalize;
        display: inline-block;
        margin: 10px auto 45px auto;
    }
}
#googleMaps{
    width: 100%;
    height: 600px;
}