// Start header-section
header.header-section
  .header-inner
    .top-bar.grid-container
      .top-bar-left
        a.logo-wrapper(href="#", title="") 
          img(src=$imgBaseUrl +"common/logo.png", alt="Sống ơi")
      

      .top-bar-right
        .title-bar(data-responsive-toggle="header-menu", data-hide-for="large").hide-for-large
          button.menu-icon(type="button" data-toggle="header-menu")
          .title-bar-title Menu
        nav#header-menu(role="navigation")
          ul.menu.dropdown.vertical.large-horizontal(data-responsive-menu="drilldown large-dropdown")
            li: a(title="" href="#about") about
            li: a(title="" href="#team") team
            li: a(title="" href="#service") service
            li: a(title="" href="#gallery") gallery
            li: a(title="" href="#news") news
            li: a(title="" href="#events") events
            li: a(title="" href="#contact") contact
// End header-section
