/*!-----------------------------------------
 FOUNDATION 6.5.0-rc.2
 https://foundation.zurb.com/sites/docs/xy-grid.html
------------------------------------------*/
@import 'foundation';

$theme: likipe;
// background: url(#{$image}/common/slider_arrow.png)
$image: "../images";
$fontUrl: "../fonts";

$color-base: #737373;
$color-highlight: #60bce6;
$color-light: #ecf0f1;
$color-middle: #f0f3f6;
$color-darken: #ecf0f1 ;
$color-placeholder: #ccc;
$color-error: #a12717;
$color-purple:  #9105ea;

$white: #fff;
$black: #000;
$grey: #ccc;
$light-grey: #ebe9e9;
$dark-grey: #0d0d0d;
$orange: rgba(245,96,12,1);

$default-border-radius: 4px; 
%default-transition{transition: all 0.4s ease-in-out;}
// @extend %default-transition;

// @extend %color-hightlight;
%color-hightlight{ color: $color-highlight; }
%border-hightlight{ border-color: $color-highlight; }
%bg-hightlight{ background-color: $color-highlight; }


// custom Base Typography
$global-lineheight: 1.5;
$global-weight-normal: normal;
$body-font-color: #737373; 
$body-font-family:  Raleway, sans-serif;

$header-font-family: $body-font-family;
$header-font-weight: 600;
$header-font-style: normal;
$header-lineheight: 1.4;
$header-margin-bottom: 0.5rem;
$header-styles: (
  small: (
    'h1': ('font-size': 24),
    'h2': ('font-size': 20),
    'h3': ('font-size': 19),
    'h4': ('font-size': 18),
    'h5': ('font-size': 17),
    'h6': ('font-size': 16),
  ),
  medium: (
    'h1': ('font-size': 48),
    'h2': ('font-size': 40),
    'h3': ('font-size': 31),
    'h4': ('font-size': 25),
    'h5': ('font-size': 20),
    'h6': ('font-size': 16),
  ),
) ;

$paragraph-lineheight: 	1.6;
$paragraph-margin-bottom: 1rem;

$anchor-color: inherit;
$anchor-color-hover: $color-highlight;

$list-side-margin: $paragraph-margin-bottom;
$list-nested-side-margin: 1.25rem;

$blockquote-color: $color-base;
$blockquote-padding: rem-calc(9 20 0 19);
$blockquote-border: 1px solid $medium-gray;

// TOPBAR
$topbar-padding: 0.5rem;
$topbar-background: transparent;
$topbar-submenu-background: $white;
$menu-item-color-active: $color-highlight;
$menu-item-background-active: transparent;
$topbar-unstack-breakpoint:small;

$dropdownmenu-arrows: true;
$dropdownmenu-arrow-color: $white;
$dropdownmenu-arrow-size: 6px;
$dropdownmenu-arrow-padding: 1.5rem;
$dropdownmenu-background: transparent;
$dropdownmenu-border: 1px solid $medium-gray;
$dropdown-menu-item-color-active: $color-highlight;
$dropdown-menu-item-background-active: transparent;


$prototype-separator-breakpoints: $global-prototype-breakpoints;
$prototype-separator-height: 4px;
$prototype-separator-width: 50px;
$prototype-separator-background: $color-highlight;
$prototype-separator-margin-top: 15px;
.separator-center{ margin-bottom: 30px; }

$pagination-font-size: 1.5rem;
$pagination-margin-bottom: 0;
$pagination-item-color: $color-base;
$pagination-item-padding: 10px;
$pagination-item-spacing: rem-calc(1);
$pagination-radius: $global-radius;
$pagination-item-background-hover: transparent;
$pagination-item-background-current: transparent;
$pagination-item-color-current: $color-base;

// BUTTON
$button-padding: 0.85em 1em;
$button-margin: 0 $global-padding $global-padding 0;
$button-fill: solid;
$button-background: $primary-color;
$button-background-hover: scale-color($button-background, $lightness: -15%);
$button-font-color: #fff;
$button-font-color-alt: #000;
$button-radius: 0;
$button-sizes: (
  tiny: 0.7,
  small: 0.8,
  medium: 1,
  large: 1.3,
) ;
$button-font-size: 0.9rem;
$button-opacity-disabled: 0.25;

$accordionmenu-arrow-size: 8px;

@include foundation-global-styles;
@include foundation-xy-grid-classes;
//@include foundation-grid;
//@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

// prototype-classes
@include foundation-prototype-text-utilities;
@include foundation-prototype-arrow;
@include foundation-prototype-list-style-type;
@include foundation-prototype-separator;
@include foundation-prototype-spacing;

// @media - foundation support
$breakpoints: (
  small: 0px,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

/* MOBILE FIRST */
// @media screen and (min-width: 40em) {}
@include breakpoint(medium) { color: #ebe9e9;}
// @media screen and (min-width: 64em) {}
@include breakpoint(large) {  color: #ebe9e9;}
// @media screen and (min-width: 70em) {}
@include breakpoint(xlarge) {  color: #ebe9e9;}
// @media screen and (min-width: 90em) {}
@include breakpoint(xxlarge) {  color: #ebe9e9;}

/* DESKTOP FIRST */
// @media screen and (max-width: 39.9375em) {}
@include breakpoint(small down) { color: #ebe9e9; }
// @media screen and (max-width: 63.9375em) {}
@include breakpoint(medium down) { color: #ebe9e9; }
// @media screen and (max-width: 74.9375em) {}
@include breakpoint(large down) { color: #ebe9e9; }

/* RESTRICTED SCREEN */
// @media screen and (min-width: 40em) and (max-width: 63.9375em) {}
@include breakpoint(medium only) { color: #ebe9e9; }
// @media screen and (min-width: 64em) and (max-width: 74.9375em) {}
@include breakpoint(large only) { color: #ebe9e9; }

// Converted to 30em
@include breakpoint(480px) { color: #ebe9e9; }
// CSS for landscape-oriented devices only
@include breakpoint(landscape) { color: #ebe9e9;}
// CSS for high-resolution displays only
@include breakpoint(retina) { color: #ebe9e9; }
// Medium to extra large styles  
@media screen and #{breakpoint(medium)} and #{breakpoint(xlarge down)} { color: #ebe9e9;}

%foundation-fn{
  font-size: rem-calc(30px); // Converts one or more pixel values into matching rem values.
  
  // @include css-triangle($triangle-size, $triangle-color, $triangle-direction);
  .triangle-up { @include css-triangle(5px, black, up); }
  .triangle-down { @include css-triangle(20px, #f00, down); }
  .triangle-right { @include css-triangle(60px, green, right); }
  .triangle-left { @include css-triangle(10px, blue, left); }

  // @include hamburger($color, $color-hover, $width, $height, $weight, $bars);
  @include hamburger($black, $dark-gray, 20px, 16px, 2px, 3);

  .bar { @include box(1rem, 2rem); } // Rectangle
  .baz { @include box(1rem); } // Square
  .shaz { @include box(1rem, $circle: true); } // Circle

  // @include button($expand, $background, $background-hover, $color, $style)
  @include button(false, $primary-color, auto, auto, hollow);
  
  @include vertical-center;
  @include horizontal-center;
  @include absolute-center;
  @include clearfix;
  // @include separator($align, $height, $width, $background, $top);
  // @include text-truncate(ellipsis);
}

$grid-margin-gutters: (small: 20px, medium: 30px);
$grid-padding-gutters: $grid-margin-gutters;

%flex-container {
  @include flex();
  flex-wrap: nowrap;

  // @include flex-direction($direction);
  // $direction: row, row-reverse, column, column-reverse
  @include flex-direction(column-reverse);

  // Horizontally or vertically aligns the items within a flex container.
  // => @include flex-align($x, $y);
  // $x: flex-start, flex-end, center, space-between, space-around (justify-content)
  // $y: stretch, middle (align-content)
  @include flex-align(center, middle);

  .flex-item {
    order: -1;

    // => @include flex-align-self($y);
    @include flex-align-self(bottom);
  }
}

%horizontal-grid  {
  // Creates a max width container, designed to house up your grid content.
  // => @include xy-grid-container($width);
  @include xy-grid-container();
  .row {
    // Creates a container for your flex cells.
    // => @include xy-grid($direction, $wrap);
    @include xy-grid();
  }
  .cell {
    // Creates a cell for your grid.
    // => @include xy-cell($size, $gutter-output, $gutters, $gutter-type, $gutter-position, $breakpoint, $vertical);
    @include xy-cell(12);

    // Wraps a media query around the content you put inside the mixin. 
    // => @include breakpoint($value) { ... }
    @include breakpoint(medium) {
      @include xy-cell(auto);
    }
  }

  .sidebar {
    @include xy-cell(12);
    @include breakpoint(medium) {
        @include xy-cell(4);
    }
  }
}

%vertical-grid {
  // Modifies a grid to give it "frame" behavior (no overflow, no wrap, stretch behavior)
  // => @include xy-grid-frame($vertical, $nested, $gutters, $breakpoint, $include-base);
  @include xy-grid-frame(true);

  // Creates a container for your flex cells.
  // => @include xy-grid($direction, $wrap);
  @include xy-grid(vertical, false);
  .header {
    // Creates a cell for your grid.
    // => @include xy-cell($size, $gutter-output, $gutters, $gutter-type, $gutter-position, $breakpoint, $vertical);
    @include xy-cell(2, $gutter-position: top bottom, $vertical: true);
  }

  .content {
    @include xy-cell(7, $gutter-position: top bottom, $vertical: true);
  }

  .footer {
    @include xy-cell(3, $gutter-position: top bottom, $vertical: true);
  }
}



