
/*-----------------------------------------
MOBILE FIRST METHOD
------------------------------------------*/

@include media(xs){ 

};
@include media(sm){ 

};
@include media(md){ 

};
@include media(lg){ 
   
};

/*-----------------------------------------
DESTOP FIRST METHOD
------------------------------------------*/
@include media-destop-first(lg){ 

};
@include media-destop-first(md){ 
    .sidebar{ margin-top: 30px; }
};
@include media-destop-first(sm){ 
    .contact-section .grid-x .cell+.cell{ margin-top: 30px; }
};
@include media-destop-first(xs){ 
    .upcoming-event-section .icon-wrapper{ margin-left: auto; margin-right: auto;}
}

/*-----------------------------------------
RESTRICTED SCREEN
------------------------------------------*/
@include media-only(xs){ 
    
};
@include media-only(sm){ 

};
@include media-only(md){ 

};
@include media-only(lg){

}
@include media-retina(){

}
