
/*-----------------------------------------
 4. EFFECT BUTTON
------------------------------------------*/ 

%effect-btn{
    position: relative; z-index: 1;
    &:after{
        content: '';
        position: absolute; top: 0; left: -100%;
        z-index: -1;
        width: 100%; height: 100%;
        background: $color-highlight;
        transition: all 0.3s;
    }
    &:hover{
        color: $white;
        border-color: $color-highlight;
        &:after{
            left: 0;
        }
    }
}



/*-----------------------------------------
 4. CIRCLE LOADER 
------------------------------------------*/
@mixin loader--style1{
    #loading-wrapper{
        position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9999;
        background: rgba(0, 0, 0, .6);
    }
    .sk-cube-grid {
      width: 40px; height: 40px;
    //   margin: 100px auto;
      @include center-position();
    }

    .sk-cube-grid .sk-cube {
      width: 33%; height: 33%;
      background-color: #fff;
      float: left;
      animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
    }
    .sk-cube-grid .sk-cube1 { animation-delay: 0.2s; }
    .sk-cube-grid .sk-cube2 { animation-delay: 0.3s; }
    .sk-cube-grid .sk-cube3 { animation-delay: 0.4s; }
    .sk-cube-grid .sk-cube4 { animation-delay: 0.1s; }
    .sk-cube-grid .sk-cube5 { animation-delay: 0.2s; }
    .sk-cube-grid .sk-cube6 { animation-delay: 0.3s; }
    .sk-cube-grid .sk-cube7 { animation-delay: 0s; }
    .sk-cube-grid .sk-cube8 { animation-delay: 0.1s; }
    .sk-cube-grid .sk-cube9 { animation-delay: 0.2s; }

    @keyframes sk-cubeGridScaleDelay {
      0%, 70%, 100% { transform: scale3D(1, 1, 1); } 
      35% { transform: scale3D(0, 0, 1); } 
    }
}

@mixin loader--style2{
    #loading-wrapper{
        position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 9999;
        background: rgba(0, 0, 0, .6);
    }
    .sk-folding-cube {
        width: 40px; height: 40px;
        position: relative;
        transform: rotateZ(45deg);
        @include center-position($direction: both, $width: 40px, $height: 40px);
    }

    .sk-folding-cube .sk-cube {
        float: left;
        width: 50%;
        height: 50%;
        position: relative;
        transform: scale(1.1); 
    }
    .sk-folding-cube .sk-cube:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        animation: sk-foldCubeAngle 2.4s infinite linear both;
        transform-origin: 100% 100%;
    }
    .sk-folding-cube .sk-cube2 {
        transform: scale(1.1) rotateZ(90deg);
    }
    .sk-folding-cube .sk-cube3 {
        transform: scale(1.1) rotateZ(180deg);
    }
    .sk-folding-cube .sk-cube4 {
        transform: scale(1.1) rotateZ(270deg);
    }
    .sk-folding-cube .sk-cube2:before {
        animation-delay: 0.3s;
    }
    .sk-folding-cube .sk-cube3:before {
        animation-delay: 0.6s; 
    }
    .sk-folding-cube .sk-cube4:before {
        animation-delay: 0.9s;
    }

    @keyframes sk-foldCubeAngle {
    0%, 10% {
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    } 25%, 75% {
        transform: perspective(140px) rotateX(0deg);
        opacity: 1; 
    } 90%, 100% {
        transform: perspective(140px) rotateY(180deg);
        opacity: 0; 
    }
    }
}