/*-----------------------------------------
 4. FORM
------------------------------------------*/

//  disable the button by make them can't be clickable and the cursor doesn't change 
// pointer-events: none;
// cursor: default;
input{
    // remove focus highlighting
    &:focus{
        outline-color: transparent!important;
        outline-style: none!important;
    }
}
::-webkit-input-placeholder{ color: $color-placeholder; }
::-moz-placeholder{ color: $color-placeholder; }
:-ms-input-placeholder{ color: $color-placeholder; }
%scrollbar{
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        &:vertical { width: 12px; }
        &:horizontal { height: 12px; }
        &-thumb {
            background-color: rgba(0, 0, 0, .5);
            border-radius: 10px;
            border: 2px solid #ffffff;
        }
        &-track {
            border-radius: 10px;  
            background-color: #ffffff; 
        }
    }
}

input:disabled, option:disabled, select.disabled{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==) repeat!important;
    opacity: .4;
    cursor: not-allowed;
    + label{ color: $grey; }
}

select{
    option:checked, option:hover {
        color: $white;
        background-color: $black;
    }
}


/*-----------------------------------------
 3. FORM RESET
------------------------------------------*/
// @include placeholder{}
@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin frm($type) {
  @if $type == all {
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{ @content ; }
  } @else if $type == input{
    select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{ @content ; }
  } @else if $type == btn {
     input[type="button"], input[type="reset"], input[type="submit"], button, .btn{ 
       outline: none;
       // border: none;
       background: transparent;
       @content ; 
    }
  } @else if $type == radio {
    input[type=checkbox], input[type=radio]{@content ;}
  } 
}

@mixin links($type) {
   @if $type == btn-link {
     .button-link { 
        display: inline-block; vertical-align: middle;
        white-space: nowrap;
        @extend %default-transition;
        cursor: pointer;
        @content ; 
    }
  } @else if $type == link-tel{
    a[href^="tel:"]{@content ;}
  } @else if $type == link-file{
    a[href$=".pdf"]{@content ;}
  } @else if $type == link-email{
    a[href^="mailto"]{@content ;}
  }
}

@mixin input-fixHeight($height: 38px, $padding: 0 25px){
    padding:  $padding;
    height: $height; line-height: $height;
}


@include frm(all){
    width: 100%;
    // outline: none; Outlines should only be modified using :focus
    border: 1px solid $grey;
    
    background-color: $white;
    border-radius: 0;
    box-shadow: none;
    @include input-fixHeight(48px, 0 15px);
    @extend %default-transition;
    &:focus{
        border-color: $color-highlight;
    }
}
@include frm(input){ }
@include frm(link-email){  };
@include frm(link-file){  };
@include frm(link-tel){  };
@include frm(btn-link){ };


@include frm(btn){ 
    
    cursor: pointer;
};

select{ padding-right: 1.5rem; }
.btn{
    overflow: hidden;
    display: inline-block; vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
    color: inherit;
    @extend %effect-btn;
    padding: 0 20px;
    border: 2px solid $color-highlight;
    @include center-singleLine($height: 40px, $border-width: 2px);
    &-group-wrapper{
        clear: both;
        margin-top: 30px;
        text-align: center;
    }
    &--white{
        color: $white;
        border-color: $white;
    }
}

.input-container{
    position: relative;
    &:before {
        position: absolute; top: 0; right: 15px;
        color: #d9d9d9;
        font-family: 'linecons';
        font-size: 1.125rem;
        speak: none;
        line-height: 48px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    input, textarea{
        padding-right: 45px;
    }
}

/*-----------------------------------------
 3. FORM INLINE
------------------------------------------*/
.frm{
    @at-root #{&}--inline{
        position: relative;
        overflow: hidden;
        input[type=text]{ 
            width: 100%;
            padding-right: 120px; 
            background: transparent;
        }
        @include frm(btn){
            position: absolute; top: 1px; right: 1px;
            z-index: 10;
            height: 46px; line-height: 46px;
        }
        
    }
}

/*-----------------------------------------
 3. FORM ERROR
------------------------------------------*/
@mixin frm-error{
    .error {
        border: 1px solid$color-error;
       border-radius:2px 2px 0px 0px;
        &-msg{
            display: block;
            text-align: left;
            padding: 6px 10px;
            font-size: 11px;
            margin-top: -6px;
            background: $color-error;
            color: #fff;
            font-weight: bold;
            position: relative;
            overflow: hidden;
            text-shadow: none;
            border-radius: 0px 0px 2px 2px;
            box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
            i{ 
                color:$white !important;
            }
        }
    }
}

/*-----------------------------------------
 3. SELECT
------------------------------------------*/

// .custom-select>select>option 
@mixin select-style($type: borderTriangle){
    .select-style{
        position: relative;
        overflow: hidden;
        border: 1px solid $color-base;
        select::-ms-expand { display: none; } /* Removing the IE10 Select Element Arrow */
        select{
            width: 100%;
            -webkit-appearance: none; -moz-appearance: none; appearance:none; 
            border-radius: 0px;
            background: transparent;
            z-index: 99;
        }
        option:checked, option:hover {
            color: $white;
            background-color: $black;
        }
        &:after{
            content: "";
            @if ($type == borderTriangle){
                width: 0; height: 0;
                position: absolute; top: 11px; right: 8px;
                border: solid transparent;
                border-color: rgba(136,183,213,0);
                border-top-color: #000000;
                border-width: 5px;
            }@else if($type == urlImageTriangle){
                width: 18px ; height: 10px;
                position: absolute; top: 50%; right: 15px; z-index: -1;
                margin-top: -5px;
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAPCAYAAAARZmTlAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABrUlEQVQ4y7XTz4uNURzH8de9kwmLUZKFrbJ47sJOzRgsNGUahZ57ETU7khQ28h9M1kPKFEkpzjm7mclCJkt2ojulscJCmpRkc2ks7pl64s6vJmf3vM/n+32fc/o+ff7DarbKHUWjeFY0isV2e/59LcNDOIcrMaTfmxRsxyyOoINj9War3IdpXEJotsr+TQj6EbMAtmBvHacxkOEpzObTbFTQh8cYreDJGNJUHbfwpLJxFHPNVrlzA4Ia7qOs4Ae4CvUYUgfnca8SOICXzVa5Z52e2xivfD/FhRjSEvRBuz2/VDSKGWzFcA7uxsmiUcy02/PfVrnFBK5X0DTOxpB+LYNaj6Ib+QmX12eMxpDe9sjexEQFzeF4DOlnNfePJBdfxF3UM1rEWAzpVSVzGXcqZa8xEkP6/ne/npLc5Awe6Y4h/MCJGNKLZqscx8NK/B0Ox5B6PuuKkiwaRcK2jDqYxLXKLT9gMIb0daU+q0qy6KDuHzzQY/sjhmJIn1brsaYki/bjOXZV8BcMx5AW1qqvrxWAGNIbDOaT0x2EkfUI1i3JogUM6U7RWK+RXmn9AUkfhUZVPRJ6AAAAAElFTkSuQmCC) right center no-repeat;
                background-size: 100%;
            }
            cursor: default;
            pointer-events: none;
        }
    }    
}
// @include select-style($type: borderTriangle);

/*-----------------------------------------
 3. CHECKBOX
------------------------------------------*/
// label.custom-radio>input[type="radio"]+span.check-input+span.check-label{Kashmir - India}
@mixin checkbox-style(){
    .custom-radio{ 
        display: block; 
        font-weight: 500;
        input[type='radio'], input[type='checkbox']{
            display: none;
            &:checked + .check-input:after{
                opacity: 1;
            }
        }
    }
    .check-input{
        width: 15px; height: 15px;
        border: 1px solid #9d9d9d;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 6px 12px 0 0;
        &:after{
            content: '\e962';
            position: absolute; left: 0; right: 0; top: 0; bottom: 0;
            font: 8px/13px $font-icon;
            text-align: center;
            opacity: 0;
        }
    }
    .check-label{
        display: inline-block;
        vertical-align: top;
        max-width: calc(100% - 32px);
    }
}

/*-----------------------------------------
 3. FILE INPUT
------------------------------------------*/
/* hiding the input visually but keeping it visible for the browser */
@mixin fileInput-style($bgColor, $hoverColor){
    input[type="file"]{
        width: 0.1px; height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        + label{
            cursor: pointer;
            color: #fff;
            background-color: $bgColor;
            padding: 15px;
            display: inline-block;
            &:hover {
                background-color: $hoverColor;
                outline: 1px dotted #000;
                outline: -webkit-focus-ring-color auto 5px;
            }
        }
        /* navigate on your website using just a keyboard */
        &:focus + label{
            @extend label:hover;
        }
    }
}


