/*-----------------------------------------
 TABLE OF CONTENT
 1. TYPOGRAPHY RESET
 2. HEADING
 3. FORM RESET
 4. CIRCLE LOADER 
------------------------------------------*/
// @include loader--style1;
// @include loader--style2;

/*-----------------------------------------
 1. TYPOGRAPHY RESET
------------------------------------------*/
// html { font-size: 62.5%; } /* =10px */
body, html{
    overflow-x: hidden!important;
}
a{
    color: inherit;
    text-decoration: none;
    @extend %default-transition;
    &:hover{
        @extend %color-hightlight;
    }
    &:hover, &:active, &:visited, &:focus{
        text-decoration: none;
    }
}
ul{ padding-left: 0; }

ins{ text-decoration: none; }
::selection {
    @extend %bg-hightlight;
    color: $white;
}
img {
    max-width: 100%;
    height: auto;
}
.entry-content{
    @extend %clearfix;
    ul{
        margin-bottom: 10px;
        @include bullet-list;
    }
    .img-left{
        float: left; margin-right: 30px;
    }
    .img-right{
        float: right; margin-left: 30px;
    }
}

// .main-wrapper{ overflow-x: hidden; }
.white-bg{
    background-color: $white;
    @extend %section-padding;
    +.white-bg{
        padding-top: 0;
        margin-top: -30px;
        @include breakpoint(medium) {
            margin-top: -80px;
        }
    }
}
.light-bg{ 
    background-color: $color-light; 
    @extend %section-padding;
}
%section-padding{
    padding-top: 30px; 
    padding-bottom: 30px;
    @include breakpoint(medium) {
        padding-top: 80px; 
        padding-bottom: 80px;
    }
}
.block {
    @at-root #{&}--bgImage { 
        @include pseudo-overlay($type-bg: bgColor, $val-bg: rgba(0,0,0,0.6));
        > .grid-container{
            position: relative; 
            text-align: center;
            color: $white;
            padding-top: 90px; padding-bottom: 90px;
        }
    }
    @at-root #{&}--icon{
       
        @include media-destop-first(sm){
             + .block--icon{
                margin-top: 60px;
            }
        }
        @include media-destop-first(md){
            .content-wrapper .icon-wrapper{
                margin: 40px auto;
            }
            .media-wrapper{
                margin-bottom: 30px;
            }
        }
    }
    @include media(sm){
         @at-root #{&}--icon{
            .content-wrapper .icon-wrapper{
                float: left;
                margin-right: 30px;
            }
        }
    }
}
/*-----------------------------------------
 2. HEADING
------------------------------------------*/
/* Set for all headings */
h1, h2, h3, h4, h5 {

}
// set size for headers
// @each $header, $size in (h1: 36px, h2: 36px, h3: 24px, h4: 18px, h5: 14px) {
//     #{$header} {
//         font-size: ($size / 10px) * 1rem;
//     }
//     %header-#{$header} {
//         font-size: ($size / 10px) * 1rem;
//     }
// }

/*-----------------------------------------
 2. TTITLE
------------------------------------------*/
.title{
    @at-root #{&}__wrapper{
        margin-bottom: 60px;
        color: $dark-grey; 
        text-transform: uppercase;
        overflow: hidden;
        &.align-left{
            .title__main{
                &:after{
                    display: block;
                    height: 10px; width: 80px;
                    margin: 15px 0;
                }
                
            }
            @include breakpoint(large) {
                .title__main{
                    text-align: right;
                    float: left;
                    width: 340px;
                    &:after{
                        display: inline-block; 
                        width: 20px; height: 40px;
                        margin: 0 15px;
                    }
                }
                p{ margin-left: 340px; }
            }
        }
        p{
            color: #404040;
            font-weight: 300;
            margin-bottom: 0;
        }
    }
    @at-root #{&}__main{
        @include fontsize($xs: 1.8rem, $lg: 3.4375rem);
        margin: 0;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1;
        // -webkit-text-stroke: 0.3px;
        &:after{
            content:"";
            background-color: $color-highlight;
            
        }
    }
    @at-root #{&}__sub{
    }
}

/*-----------------------------------------
 3. ICONS
------------------------------------------*/
.icon-hexagon{
    position: relative;
    width: 118px; height: 72px;
    border-radius: 7px;
    background-color: $color-highlight;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 40px;
    i{
        color: $white;
        font-size: 2.25em;
        line-height: 72px;
        text-align: center;
        position: absolute; top: 0; left: 0;
        width: 100%;
        z-index: 1;
    }
    &, &:before, &:after{
        border-left: 2px solid $color-highlight;
        border-right: 2px solid $color-highlight;
    }
    &:before, &:after{
        position: absolute;
        width: inherit; height: inherit;
        border-radius: inherit;
        background-color: inherit;
        content: '';
        margin-left: -1px;
    }
    &:before{
        transform: rotate(60deg);
    }
    &:after{
        transform: rotate(-60deg);
    }
}
.icon-outline{
    display: inline-block;
    width: 50px; height: 50px; line-height: 50px;
    font-size: 1.5em;
    text-align: center;
    @extend %color-hightlight;
    background: url(#{$image}/link-hex.png) no-repeat center center;
}

.thumbnail-wrapper{
    overflow: hidden;
    position: relative;
    img{ display: block; }
    @at-root #{&}__fixedHeight{
        position: relative;
        overflow: hidden;
        height: 90px;
        img{
            @include center-position();
            height: 100%;
        }
    }
}



.breadcrumb{
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 0;
    @include center-position($direction: horizontal);
    bottom: -12px;
    border-radius: 0;
    background-color: $orange;
    @include triangle-breabscrumb($direction: bottom, $width: 12px, $height: 12px, $color: $orange);
    .active, li+li:before, a{ color: $white; }
}
.pagination{
    font-weight: 800;
    li{
        position: relative;
        display: inline-block;
        &:before{
            content: '';
            position: absolute; left: 0; bottom: 5px;
            width: 100%;
            height: 4px;
            background-color: transparent;
        }
        &.current, &:hover{
            &:before{
                @extend %bg-hightlight;
            }
        }
    }
    
    .pagination-next  a:after, .pagination-previous:before{ display: none; }
       
}